html {background-color: 	#87CEEB;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }



  .height {
    width: 100%;
    height: 400px;
    background-image: url('Photos/AdobeStock_112233363_Preview.jpeg');
    background-size: 100% 100%;
    border: 1px solid red;
    background-attachment: fixed;
  
  }
  
  
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



            footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               background-color: #333;
               color: white;
               text-align: center;
               
               display: flex;
               justify-content: center;
              

            }
            
  .design {
  text-align: center;
  text-transform: uppercase;
  color: blue;
padding-bottom: 20px; 
text-transform: capitalize;
text-decoration: double;
size : 800px;
text-size-adjust: 800px;

}

.demo.design {
  width:256px;
  width:256px;
background-color:#4CAF50;
padding-bottom: 20px;
background-position: center;

}

.list{ text-align: center;
color: red;
}